<template>
    <div>
        <PlayerRound
            v-for="(player, index) in players"
            :key="index"
            :player="player"
            :playerIndex="index"
            @updateScore="updateScore"
            @completePhase="completePhase"
        />
        <button type="button" @click="saveRound">Save Round</button>
    </div>
</template>

<script>
import PlayerRound from '@/components/PlayerRound.vue';

export default {
    name: 'complete-round',
    components: {
        PlayerRound
    },
    data() {
        return {
            score: []
            // completedPhase: [],
        };
    },
    computed: {
        players() {
            return this.$store.state.players;
        },
        completedPhase() {
            return this.players.map(() => false);
        }
    },
    methods: {
        saveRound() {
            this.completedPhase.forEach((value, index) => {
                if (value) {
                    this.players[index].completedPhases.push(
                        this.players[index].currentPhase
                    );
                    this.players[index].currentPhase += 1;
                }
            });
            this.$store
                .dispatch('finishRound', {
                    score: this.score,
                    completedPhase: this.completedPhase.reduce((acc, cur, index) => {
                        if (cur) {
                            acc.push({
                                id: index,
                                phase: this.players[index].currentPhase,
                            });
                        }
                        return acc;
                    }, []),
                })
                .then(() => {
                    this.$router.push('summary');
                });
        },
        updateScore(id, value) {
            this.score[id] = value;
        },
        completePhase(id, isComplete) {
            this.completedPhase[id] = isComplete;
        }
    }
};
</script>


