<template>
    <main>
        <h1>Game Summary</h1>
        <SummaryBlock
            v-for="(player, index) in players"
            :key="index"
            :player="player"
        />
    </main>
</template>

<script>
import SummaryBlock from '@/components/SummaryBlock.vue';
export default {
    name: 'game-summary',
    components: {
        SummaryBlock,
    },
    computed: {
        players() {
            return this.$store.state.players;
        }
    }
}
</script>

<style lang="scss" scoped>

</style>


