<template>
    <div class="home">
        <h1>Phase10 Score Keeper</h1>
        <router-link to="new-game">New Game</router-link>
    </div>
</template>

<script>

export default {
    name: "home",
};
</script>
