<template>
    <div>
        <div class="player" v-for="(player, index) in players" :key="index">
            <span class="player__count">{{index + 1}}.</span>
            <span class="player__name">{{player.name}}</span>
            <svgicon class="player__remove" icon="close" width="24" height="24" @click="removePlayer(index)" />
        </div>
        <AddPlayer />
        <button type="button" v-if="numOfPlayers > 1" @click="goToSummary">Start Game</button>
    </div>
</template>

<script>
import AddPlayer from '@/components/AddPlayer.vue';
import '@/icons/close';
export default {
    name: 'new-game',
    components: {
        AddPlayer,
    },
    data() {
        return {
            players: this.$store.state.players,
        }
    },
    computed: {
        numOfPlayers() { return this.$store.state.players.length; }
    },
    methods: {
        goToSummary() {
            this.$router.push('summary');
        },
        removePlayer(index) {
            this.$store.dispatch('removePlayer', {
                index
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.player {
    display: grid;
    grid-template-columns: 20px 300px 30px;
    justify-content: center;
    margin-bottom: 20px;

    &__remove {
        cursor: pointer;
    }
}
</style>

