<template>
    <form class="add-player" @submit.prevent="onSubmit">
        <input type="text" placeholder="Player Name" v-model="playerName">
        <button type="submit">Submit</button>
    </form>
</template>

<script>
export default {
    name: 'player-name',
    data() {
        return {
            playerName: '',
        };
    },
    methods: {
        onSubmit() {
            this.$store.dispatch('addPlayer', {
                name: this.playerName,
            }).then(() => {
                this.playerName = '';
            })
        },
    }
}
</script>

<style lang="scss" scoped>
.add-player {
    margin-bottom: 20px;
}
</style>
