<template>
    <div class="phases">
        <span
            class="phase"
            v-for='(phase, index) in numOfPhases'
            :class="[completed.includes(index + 1) ? 'phase--completed' : '']"
            :key='index'>
                {{index + 1}}
        </span>
    </div>
</template>

<script>
export default {
    name: "phases",
    props: {
        completed: {
            type: Array,
            default: () => [],
        }
    },
    data() {
        return {
            numOfPhases: this.$store.state.numOfPhases,
        }
    },
};
</script>

<style lang="scss" scoped>
.phases {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-radius: 10px;

    .phase {
        border: 1px solid #000;
        border-right: 0;

        &--completed {
            background-color: #ccc;
        }
        &:first-child {
            border-radius: 10px 0 0 10px;
        }
        &:last-child {
            border-right: 1px solid #000;
            border-radius: 0 10px 10px 0;
        }
    }
}
</style>


