<template>
    <section class="player-round">
        <h1 class="player-round__name">{{player.name}}</h1>
        <div class="player-round__phase" @click="completePhase">{{player.currentPhase}}</div>
        <input
            :id="`id-${playerIndex}`"
            type="number"
            class="player-round__score"
            min="0"
            step="5"
            @input="updateScore"
        />
    </section>
</template>

<script>
export default {
    name: "player-round",
    data() {
        return {
            score: null,
        };
    },
    props: {
        player: {
            type: Object,
            default: () => {},
        },
        playerIndex: Number,
    },
    methods: {
        updateScore(event) {
            const value = Number(event.target.value);
            this.$emit('updateScore', this.playerIndex, value);
        },
        completePhase(event) {
            const el = event.target;
            let completed = false;
            if (el.classList.contains('player-round__phase--completed')) {
                el.classList.remove('player-round__phase--completed');
            } else {
                el.classList.add('player-round__phase--completed');
                completed = true;
            }
            this.$emit('completePhase', this.playerIndex, completed);
        }
    }
};
</script>

<style lang="scss" scoped>
.player-round {
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 10px 0;

    &__name {
        grid-area: 1 / 1 / 3 / 1;
    }
    &__phase {
        grid-area: 1 / 2 / 1 / 2;
        border: 1px solid #000;
        border-radius: 10px;

        &--completed {
            background-color: #ccc;
        }
    }
    &__next-phase {
        border: 1px solid #000;
        // border-left: 0;
        border-radius: 0 10px 10px 0;
    }
    &__score {
        grid-area: 2 / 2/ 2 / 2;
    }

}
</style>
