<template>
    <section class="summary-block">
        <header class="summary-block__header">
            <!-- <button type="button">Edit</button> -->
            <h1 class="summary-block__name">{{player.name}}</h1>
            <span class="summary-block__score">{{player.score}}</span>
        </header>
        <Phases :completed="player.completedPhases" />
    </section>
</template>

<script>
import Phases from "@/components/Phases.vue";

export default {
    name: "summary-block",
    components: {
        Phases
    },
    props: {
        player: {
            type: Object,
            default: () => {},
        },
    }
};
</script>

<style lang="scss" scoped>
.summary-block {
    margin-bottom: 50px;

    &__header {
        display: grid;
        grid-template-columns:50px auto 150px;
        align-items: center;
    }
}
</style>
