<template>
    <div id="app">
        <div id="nav">
            <router-link to="/">Home</router-link>|
            <router-link to="/new-game">New Game</router-link> |
            <router-link to="/summary">Summary</router-link> |
            <router-link to="/complete-round">Complete Round</router-link>
        </div>
        <router-view />
        <footer class="site-footer">Copyright 2019 Michael Turnwall. All Rights Reserved.</footer>
    </div>
</template>

<style lang="scss">
#app {
    font: 1rem "Oswald", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 600px;
    margin: 20px auto;
}
#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
.site-footer {
    font-size: 0.8rem;
    padding: 20px 0;
}
.svg-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {
    /* default */
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}
</style>
